{% include 'login_header.html' %}
{% load static %}
<body>
  <div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    <div class="container">
      <!-- Form Section -->
      <div class="right-section">
        <h1 class="ml14">
          <span class="text-wrapper">
            <span class="letters">Sign in to Nexo</span>
            <span class="line"></span>
          </span>
        </h1>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        <form class="signup-form" method="post">
          {% csrf_token %}
          <input type="email" placeholder="Email address or User name" name="username_or_email" required>
          <input type="password" placeholder="Password" name="password" required>
          <div class="remember-forgot">
            <label>
              <input type="checkbox"> Remember me
            </label>
            <a href="#" class="forgot-password">Forgot your password?</a>
          </div>
          <button class="shiny-cta" type="submit"><span>Sign In</span></button>
          {% if messages %}
           <div>
          {% for message in messages %}
           <p style="color: red;">{{ message }}</p>
          {% endfor %}
          </div>
          {% endif %}
        </form>
        <p class="form-para">Already have an account? <a href="{% url 'signup' %}">Create an account</a></p>
      </div>
    </div>
  </div>
  <script src="{% static 'js/script_login.js' %}"></script>
</body>
</html>
